* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

#product-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0 50px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  #product-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

#product-card {
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  padding: 15px;
}

#product-card img {
  width: 100%;
  height: 170px;
}

#product-card .footer {
  display: flex;
  justify-content: space-between;
}

#product-card .price {
  display: flex;
  color: #adcc55;
  font-size: 25px;
  margin-bottom: 15px;
}

#product-card h3 {
  font-size: 20px;
  margin-top: 10px;
}

#product-card .category {
  font-size: 14px;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.5);
}

#new-product {
  display: flex;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;

}

.thumbnail {
  vertical-align: auto;
  height: 250px;
  width: 100%;
  padding-top: 26px;
}

.product-details {
  display: grid;
  margin-top: 20px;
  margin-left: 50px;
  width: 350px;

}

h3 {
  font-weight: 600;
  color: #313133;
}

.product-img {
  width: 400px;
}

.description {
  margin-top: 8px;
  color: #313133;
}

.brand {
  margin-top: 8px;
  color: #313133;
  font-size: 12px;
}

span {
  margin-top: 8px;
  color: #264996;
  font-size: 12px;
  text-decoration: underline;
}

.category {
  margin-top: 8px;
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.price-tag {
  padding: 10px;
  display: flex;
  margin-top: 8px;
  color: rgb(105, 105, 105);
  border-style: solid;
  border-color: red;
  border-width: 1px;
  border-radius: 3px;
}

.price {
  margin-right: 8px;
  color: rgb(14, 10, 10);
  font-weight: 600;
  font-size: 20px;

}

.percentage {
  margin-left: 10px;
  font-size: 10px;
  background-color: rgb(186, 184, 184);
  color: rgb(174, 114, 3);
  height: 10px;

}

.stock {
  margin-top: 8px;
  color: rgb(105, 105, 105);
  font-size: 12px;
}

.footer {
  display: flex;
  margin-top: 10px;
  color: rgb(105, 105, 105);
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
}

.rating-text {
  margin: auto 0;
}

.slide-img {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  width: 100%;
  /* margin-left: 20px; */
}

.slide-img img {
  width: 100%;
  height: 40px;
  /* margin-left: 20px; */
}

button {
  background-color: #F68B1E;
  margin-top: 8px;
  padding: 15px;
  width: 350px;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: 600;
}

.Details {
  margin: 0;
  font-size: 25px;
  margin-top: 30px;
  text-align: center;
}

svg {
  width: 15px;
}